.blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.blog-card:hover {
  transform: scale(1.05);
}

.blog-card:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.blog-card img {
  width: 100%;
}

.blog-card .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
}

.blog-card .title {
  font-size: 2rem;
}
