.blog {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 85%;
  max-width: 1000px;
  margin: 50px auto;
  text-align: left;
}

.blog .author a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.blog .author a:hover {
  text-decoration: underline;
}

.blog .title {
  margin: 15px 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.blog .main-image {
  width: 100%;
  max-width: 550px;
  max-height: 350px;
  object-fit: contain;
  margin: 0 auto;
}

.blog .text {
  margin: 25px 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.5;
}
