.blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.blog-card:hover {
  transform: scale(1.05);
}

.blog-card:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.blog-card .image-container {
  position: relative;
}

.blog-card img {
  width: 100%;
}

.blog-card .buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
}

.blog-card .buttons > * {
  height: 25px;
  width: 75px;
  margin: 0;
  font-size: 1.2rem;
  z-index: 1;
}

.blog-card .buttons > *:hover {
  background: white;
  color: black;
}

.blog-card .buttons > *:active {
  box-shadow: 1px 1px 1px;
}

.blog-card button.publish {
  background: green;
}
.blog-card button.unpublish {
  background: rgb(225, 0, 0);
}

.blog-card button.edit-blog {
  background: #777;
}

.blog-card .delete-blog {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: scale(0.5);
  fill: #ddd;
  z-index: 1;
}

.blog-card:hover .delete-blog:hover {
  transform: scale(0.55);
  fill: #333;
}

.blog-card .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
  padding: 25px;
}

.blog-card .title {
  font-size: 2rem;
  font-weight: 500;
}

.blog-card .text {
  line-height: 1.5;
}

.blog-card .read-more {
  z-index: 1;
}

.blog-card .read-more:hover {
  font-weight: bold;
}
